[Unit]
Description=Qubes TorVM
ConditionPathExists=/var/run/qubes-service/qubes-tor
After=network.target qubes-mount-home.service

[Service]
Type=forking
PIDFile=/var/run/tor/qubes-tor.pid
RemainAfterExit=no
StandardOutput=syslog

ExecStartPre=/usr/bin/install -Z -m 02750 -o tor -g tor -d /var/run/tor
ExecStartPre=/usr/bin/sudo /usr/lib/qubes-tor/start_tor_proxy.sh
ExecStartPre=/usr/bin/tor --defaults-torrc /usr/lib/qubes-tor/torrc -f /rw/config/qubes-tor/torrc --RunAsDaemon 0 --verify-config
ExecStart=/usr/bin/tor --defaults-torrc /usr/lib/qubes-tor/torrc -f /rw/config/qubes-tor/torrc --RunAsDaemon 1 --Log "notice syslog" --PIDFile /var/run/tor/qubes-tor.pid
ExecStartPost=/usr/bin/sudo /usr/lib/qubes-tor/qubes-tor-firewall.sh
ExecReload=/bin/kill -HUP ${MAINPID}

KillSignal=SIGINT
#TimeoutSec=45
#Restart=on-failure
LimitNOFILE=65536

# Hardening
NoNewPrivileges=yes
PrivateTmp=yes
PrivateDevices=yes
ProtectHome=yes
ProtectSystem=full
ReadOnlyDirectories=/
ReadWriteDirectories=-/var/lib/tor-instances -/var/run -/usr/lib/qubes-tor -/rw/usrlocal/lib/qubes-tor -/rw/config/qubes-tor -/proc/sys/net
CapabilityBoundingSet=CAP_SETUID CAP_SETGID CAP_NET_BIND_SERVICE CAP_DAC_OVERRIDE CAP_CHOWN CAP_FOWNER

[Install]
WantedBy=multi-user.target
